body>a{
    color: green;
}

body>a:nth-child(5){
    color: red;
}

#second-div p:nth-child(even){
    background-color: red;
}

#second-div p:nth-child(odd){
    background-color: blue;
}

#first-div>p::after{
    color: yellow;
    content: "New";
}

p:nth-child(8):hover{
    font-style: italic;
}